@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.sec-title .title,
.sec-title h2 span,
.btn-style-two:hover .txt,
.step-block .inner-box .icon-box,
.services-block .inner-box a:hover,
.video-box .overlay-box span,
.step-block .inner-box .read-more,
.pricing-tabs .tab-buttons .tab-btn,
.list-style-one li:before,
.social-icon-one li a:hover,
.gallery-item .overlay-inner .link:hover,
.social-icon-two li a:hover,
.btn-style-three,
.btn-style-three .icon,
.services-block-two .inner-box h5 a:hover,
.services-block-two .inner-box .view-more,
.boost-block .inner-box .icon-box .icon,
.counter-blocked .blocked-inner .count-outer,
.footer-style-two .footer-widget .info-list li .icon,
.fluid-section-one .image-column .overlay-link:hover .icon-box,
.testimonial-block .inner-box .upper-box .quote-icon,
.testimonial-block .inner-box .lower-box .lower-inner .designation,
.news-block .inner-box .lower-content h4 a:hover,
.testimonial-block-two .inner-box .author,
.services-block-three .inner-box .icon-box,
.services-block-three .inner-box h5 a:hover,
.featured-block .inner-box .icon-box,
.testimonial-block-three .content-box .rating span,
.funfacts-section .title-column .inner-column span,
.fact-counter .count-outer,
.gallery-item-two .overlay-inner .link:hover,
.error-search-box .form-group input:focus + button, .error-search-box .form-group button:hover,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-block .inner-box .image .overlay-two .see-more,
.project-block .inner-box .image .overlay-box .content .see-project,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.news-block .inner-box .lower-content .comments:hover,
.page-title .bread-crumb li a:hover,
.error-section .error-big-text,
.popular-posts .post a:hover,
.popular-posts .post-info:before,
.gallery-item-two .overlay-inner .link:hover,
.blog-cat li.active a, .blog-cat li a:hover,
.gallery-item-two .inner-box .lower-box h3 a:hover,
.faq-page-section .faq-tabs .tab-btns .tab-btn:hover,
.blog-single .inner-box .post-meta li .icon,
.blog-single .inner-box .lower-content .text p:first-child::first-letter,
.blog-single .inner-box .lower-content .text p a,
.contact-page-section .info-column .content-boxed ul li .icon,
.blog-single .inner-box .lower-content blockquote .quote-icon,
.faq-page-section .faq-tabs .tab-btns .tab-btn.active-btn,
.price-block .inner-box .lower-box .price-list li:before{
	color:#bb54e1;
}

/*Background Color*/

.btn-style-two .txt,
.subscribe-style-one,
.scroll-to-top:hover,
.btn-style-three:hover,
.pricing-tabs .tab-buttons .tab-btn:before,
.price-block .inner-box .price,
.skills .skill-item .skill-bar .bar-inner .bar,
.services-block .inner-box:before,
.services-block .inner-box:after,
.team-block .inner-box h6,
.gallery-item-two .overlay-inner .link,
.team-section .owl-dots .owl-dot.active span,
.testimonial-block-three .content-box .icon,
.services-block .inner-box .plus-icon,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li:hover > a,
.services-block-two .inner-box .border-one:before,
.services-block-two .inner-box .border-one:after,
.services-block-two .inner-box .border-two:before,
.services-block-two .inner-box .border-two:after,
.step-block-two .inner-box .icon-box .number,
.accordion-box .block .icon-outer,
.sidebar .popular-tags a:hover,
.blog-single .post-share-options .post-tags a:hover,
.sidebar-page-container .group-title h6:before,
.sidebar .instagram-widget .image-box .overlay-box,
.footer-style-two .footer-widget h2:before,
.devoted-section .devoted-tabs .tab-btns .tab-btn:hover,
.devoted-section .devoted-tabs .tab-btns .tab-btn.active-btn,
.main-header .header-upper .outer-box .nav-toggler .nav-btn,
.main-menu .navigation > li > a:after,
.main-slider .content .icon-box,
.sidebar-title h4:after,
.error-section .theme-btn:hover,
.blog-single .inner-box .post-meta li.style-two,
.gallery-item-two .overlay-inner .link:hover::before,
.testimonial-block-two .inner-box .image-outer:before,
.sidebar-page-container .comments-area .comment .comment-reply:hover,
.fluid-section-one .content-column .owl-dots .owl-dot.active,
.fluid-section-one .content-column .owl-dots .owl-dot:hover{
	background-color:#bb54e1;
}

/*Border Color*/

.btn-style-three,
.pricing-tabs .tab-buttons,
.subscribe-form .form-group input:focus,
.subscribe-form .form-group textarea:focus,
.subscribe-form .form-group select:focus,
.team-section .owl-dots .owl-dot span:before,
.services-block .inner-box .icon-box .icon:before,
.testimonial-block .inner-box .upper-box,
.btn-style-one,
.blog-cat li a:before,
.error-section .theme-btn,
.error-search-box .form-group input:focus,
.services-block-two .inner-box .view-more,
.main-slider .content:before,
.main-slider .swiper-slide .content:after,
.sponsors-section .image-box img:hover,
.testimonial-block-three .content-box,
.styled-pagination li.active a, .styled-pagination li a:hover,
.fluid-section-one .image-column .overlay-link:hover .icon-box,
.devoted-section .devoted-tabs .tab-btns .tab-btn:hover,
.devoted-section .devoted-tabs .tab-btns .tab-btn.active-btn,
.testimonial-block .inner-box .lower-box .lower-inner .image,
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
	border-color:#bb54e1;
}

.back-to-top::after{
	border-bottom-color:#bb54e1;
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#bb54e1;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#bb54e1;
	}
	
}