<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>projet</display-name>
  <servlet>
    <servlet-name>us</servlet-name>
    <servlet-class>com.yoprojet.projet.controller.UtiliateurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ps</servlet-name>
    <servlet-class>com.yoprojet.projet.controller.Projetservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>av</servlet-name>
    <servlet-class>com.yoprojet.projet.controller.UploadDownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ta</servlet-name>
    <servlet-class>com.yoprojet.projet.controller.TacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>us</servlet-name>
    <url-pattern>/userserv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ps</servlet-name>
    <url-pattern>/projetserv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>av</servlet-name>
    <url-pattern>/avatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ta</servlet-name>
    <url-pattern>/tache</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>page-login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>tGRIfOz4lEkiOhb-QndXjjiT5xcvElqPyQyMR2jl0Fm_q3Kc7j-57-bXy7y</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>sebaouiyoussef1977@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://localhost:8081/YoProject/PayPalController</param-value>
  </context-param>
  <context-param>
    <param-name>cancelurl</param-name>
    <param-value>http://localhost:8081/YoProject/echec.jsp</param-value>
  </context-param>
</web-app>